@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #f5f5f5;
}

.base-container {
    width: 1760px;
    max-width: 90%;
    min-height: calc(100dvh - 56px); /* Calculating Dynamic view height and subtracting footer size */
    margin: 0 auto;
}

.page-header {
    margin-top: 64px;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.page-header .title, .page-header .subTitle {
    animation: fadeInUp 0.25s both;
    text-align: center;
}

.page-header .title {
    font-weight: 600;
    font-size: 3rem;
}

.page-header .subTitle {
    animation-delay: 0.1s;
    font-size: 1.1rem;
    font-weight: 300;
}

.search-container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.search-container .input-group {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: minmax(auto, 500px) 128px;
    gap: 16px;
}

.search-container .input-group input {
    font-size: 1rem;
    padding: 16px 32px;
    border-radius: 100px;
    border: 1px solid #ccc;
}

.search-container .input-group button {
    background-color: #232323;
    color: #fff;
    padding: 16px 32px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.25s;
}

.search-container .input-group button:hover {
    background-color: #595959;
}

.page-content {
    position: relative;
    margin: 64px 0;
}

.main-content {
    position: relative; /* Needed for selected stickers list positioning  */
    flex: 1; /* Needed to keep the footer on the bottom */
    
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
}

.selected-stickers-container {
    height: 100%;
}

.selected-stickers-list {
    width: 150px;
    position: sticky;
    top: 20px;
    text-align: center;
    font-weight: bold;
    list-style: none;
}

.selected-sticker-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 0; /* For avoiding double borders */
    padding: 6px 4px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

/* Round top and bottom items */
.selected-sticker-item:first-child {
    border-radius: 5px 5px 0 0;
}

.selected-sticker-item:last-child {
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid #ccc;;
}

.selected-sticker-info {
    font-weight: normal;
    font-size: small;
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    flex: 1;
    padding: 0 32px;
}

.result-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.matched-part, .info-message {
    text-align: center;
}

.matched-part {
    font-weight: bold;
    margin-bottom: 10px;
}

.sticker-image {
    width: 100px;
    height: auto;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative; /* Needed for tooltip positioning */
}

.sticker-image:hover::after {
    content: attr(data-name); /* Use data attribute for tooltip text */
    visibility: visible;
    position: absolute;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.info-message {
    margin-top: 20px;
    font-style: italic;
    width: 100%;
}

.sticker-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
    animation: fadeInUp 0.25s both;
}

.sticker-wrapper::after {
    content: attr(data-name); /* Use the data-name attribute for the tooltip */
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%) translateY(-10px);
    white-space: nowrap;
    z-index: 1;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s ease-in-out;
}

.sticker-wrapper:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-15px); /* Slightly raise the tooltip */
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f0f0f0;
    color: #333;
    font-size: 0.875rem;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

footer p {
    margin: 0;
    padding: 0;
}

#infoContainer {
    margin: 10px 0;
    text-align: center;
}

/* Mobile media queries*/
@media only screen and (max-width: 768px) {
    .main-content {
        grid-template-columns: 1fr;
    }

    .selected-stickers-container {
        position: sticky;
        bottom: 0;
    }

    .selected-stickers-list {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .selected-sticker-item {
        width: 100%;
    }

    /* Hide title on mobile */
    .selected-sticker-item:first-child {
        display: none;
    }

    .selected-sticker-item {
        font-size: small;
        border-radius: 0;
        border-bottom: 1px solid #ccc;
    }
    
    .selected-sticker-item:nth-child(2) {
        border-radius: 10px 0 0 0;
    }
    .selected-sticker-item:last-child {
        border-radius: 0 10px 0 0;
    }

    .selected-sticker-item > .sticker-image {
        max-width: 56px;
    }

    .selected-sticker-info {
        font-size: x-small;
    }

    /* Hide tooltips on mobile */
    .sticker-wrapper::after {
        display: none;
    }
    .sticker-image::after{
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .search-container .input-group {
        grid-template-columns: 1fr;
        align-items: stretch;
        justify-content: stretch;
    }
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
}

#back-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
}
